
section.serviços{
    padding: 40px 4%;
    background-color: #e1e1e1;
}
/* CONTAINER DOS CARDS */
.barra-social {
    width: 80%;
    padding: 40px 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* CARD INDIVIDUAL */
.card-social {
    background: #ffffff;
    padding: 20px 50px;
    border-radius: 4px;
    text-align: center;
    width: 260px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* ÍCONE */
.card-social i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #000;
}

/* TÍTULO */
.card-social h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}

/* LINHA DOURADA */
.card-social .linha {
    width: 60px;
    height: 3px;
    background: #d6a354;
    margin: 0 auto 15px auto;
    border-radius: 2px;
}

/* TEXTO */
.card-social p {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}
