header{
    background-color: black;
}

header > .conteiner{
    display: flex;
}

.logo{
    margin-left: 25px;
}

nav a{
    text-decoration: none;
    color: rgb(191, 191, 191);
    transition: .2s;
    font-size: 18px;
}

nav.menu-desktop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a:hover{
    color: white;
}

.conteiner .logo img{
    width: 100px;    
}

