header{
    background-color: black;
}

.conteiner{
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 25px;
}


nav ul li{
    margin: 15px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(87, 84, 84);
    transition: .2s;
}

nav ul li a:hover{
    color: white;
}



.conteiner .logo img{
    width: 100px;    
}

